version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/jordan-hotels-app"
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"